body{height:100%;
	margin:0 auto;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 17px;
	color:grey;

	

}

.ipod{height:900px;
	width: 500px;
	background-repeat:no-repeat;
	margin-left: 25%;
	background-size: 100%;
	background-image: url('images/ipod2.png');
	background-repeat: no-repeat;
	box-shadow: 200px black;
	margin-top: 100px;

}
.stopRel{
	display: none;
}

	

/*.grid{display: grid;
	grid-template-rows: 6fr 1fr;
	background-size: 75%;
	background-image: url('images/ipd.png');
	background-repeat: no-repeat;


}*/

	.bottom-grid{ width: 60%;
		height:60%;
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		padding-top:270px;
		margin-left: 20%;

		
	}
.innerGrid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.btn{
	text-align: center;
	opacity: .9;
	cursor: pointer;
	padding: 10px;
}
.btn:hover{
	opacity: .4;
	box-shadow: 10px white;
	transform: scale(1.1);
}



}
.butttons{display: flex;
	flex-direction: row;


}

#center{ height: 200px;
text-align: center;
display: grid;
grid-template-rows: 8fr 1fr;

 
}
#pause{
	padding-top: 25px;
}
.artRel{
	
}

#artist{
	margin: 0 auto;
}


#albumArt{
	margin:0 auto;
	margin-top: 50px;
	height: 250px;
	width:250px;
	background-size: 150% 200%;
	/*border-radius: 10px 10px 10px 10px;*/

		
	}

#artist{position: absolute;
		top: 405px;
		left:610px;

		color:white;
		font-size: 15px;
		opacity: .5;
		text-shadow: 5px solid white;
		
	}

#artist2:hover{
	color: green;
		}



#artist2{display: flex;
		color:white;
		font-size: 15px;
		opacity: .5;
		text-shadow: 5px solid white;
		z-index: 4;
		animation: myFirstAnimation 1s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
	animation-play-state: paused;
	margin: 0 auto;
}
	@keyframes myFirstAnimation{
  0%{
  	
  }
 
  100%{
		color: red;
  }
  }


}








